.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5f6f8;
}

/* ===== TITULOS ===== */

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #0f172a;
}

/* ===== BOTONES ===== */

.primary-button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 12 22;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #1d4ed8;
}

.secondary-button {
    -fx-background-color: #f1f5f9;
    -fx-text-fill: #0f172a;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 12 22;
    -fx-cursor: hand;
}

.danger-button {
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 12 22;
    -fx-cursor: hand;
}

/* ===== CARDS ===== */

.card {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #d1d5db;
    -fx-padding: 20;
}

/* ===== INPUTS ===== */

.text-field,
.text-area,
.combo-box {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cbd5e1;
    -fx-padding: 10;
    -fx-font-size: 14px;
}

/* ===== TABLE ===== */

.table-view {
    -fx-background-color: white;
    -fx-control-inner-background: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #d1d5db;
}

.table-view .column-header-background {
    -fx-background-color: #e2e8f0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .label {
    -fx-font-weight: bold;
}